nav {
    background-color: lightgrey;
    height: 100vh;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    font-family: "Courier New", monospace;
    background-color: white;
    padding: 1em 1.5em;
    display: block;
    margin: 5px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

    li a:hover {
        background-color: lightsalmon;
    }

#Information {
    background-color: darksalmon;
    border: 5px solid black;
    margin: 25px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    width: 250px;
    font-family: "Courier New", monospace;
}

#Main {
    font-family: "Courier New", monospace;
    float: left;
    display: block;
}

h1 {
    text-align: center;
}

div {
    margin: 25px;
}

body {
    margin: 0;
}

h1 {
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    transform: skew(-15deg);
}
